{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Документация по API Peakspace",
    "description": "Этот API позволяет удобно взаимодействовать благодаря Swagger!\n\n⬇️ССЫЛКА НА API ДЛЯ КОНЕЧНЫХ ТОЧЕК⬇️:\n\nhttps://api-peakspace.elcho.dev/api/v1",
    "license": {
      "name": "Copyright © 2021-2024. Все права защищены",
      "url": "https://elcho.dev"
    }
  },
  "servers": [
    {
      "url": "https://api-peakspace.elcho.dev/api/v1",
      "description": "Сервер для продакшена"
    },
    {
      "url": "http://localhost:5000/api/v1",
      "description": "Сервер для разработки"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/upload/avatar": {
      "post": {
        "summary": "Загрузка аватара пользователя",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatar": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Аватар успешно загружен",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileName": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Файл не загружен"
          },
          "500": {
            "description": "Ошибка при загрузке файла"
          }
        }
      }
    }
  }
}